<!-- views/partials/footer.ejs -->
<p class="footer-text">© Copyright 2019 Ophélie</p>
<span style="z-index:50;font-size:0.9em;">
    <img src="http://api.paperquotes.com/static/images/paperquotes.png" alt="paperquotes.com" width="20" height="20">
    <a href="http://paperquotes.com" title="Powered by quotes from paperquotes.com" style="color: #9fcc25; margin-left: 4px; vertical-align: middle;">
        paperquotes.com
    </a>
</span>
		  

<!-- js -->
<script type="module" src="./public/js/home.js"></script>

