<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Inspirational quotes generator</title>

<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Hind+Vadodara&display=swap" rel="stylesheet">
<!-- css -->
<link rel="stylesheet" type="text/css" href="./public/css/styles.css">
<link rel="stylesheet" type="text/css" href="./public/css/loader.css">
<!-- js -->
<script src="https://kit.fontawesome.com/d3eac6bac8.js"></script>

