<!DOCTYPE html>
<html lang="fr">
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <% include ./partials/header %>  

        <main>
            <section class="quote-container">
                <img id="picture" src="<%= image.largeImageURL %>" alt="<%= image.tags %>" class="image-quote" />
                <blockquote id="quote">
                    <em id="quote-text"><%= quote.quoteText %></em>
                    <p class="author" id="quote-author"><%= (quote.quoteAuthor) ? '− ' + quote.quoteAuthor : '' %></p>
                </blockquote>
            </section>
            
            <section class="action">
                <button id="refresh-picture"><i class="far fa-image icon"></i> Recharger l'image</button>
                <button id="refresh-quote"><i class="far fa-comment-alt icon"></i> Recharger le texte</button>
            </section>
            
            <div class="loader">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
        </main>

        <% include ./partials/footer %>
    </body>
</html>