<!DOCTYPE html>
<html lang="fr">
    <head>
        <% include ./partials/head %>
    </head>
    <body>

        <header>
            <% include ./partials/header %>
        </header>

        <main>
            <image src="https://www.terlici.com/img/posts/2014-08-25-best-practices-express-structure-750x400.jpg" class="image-quote" />
            <div class="action-div">
                <button><i class="far fa-image icon"></i> Recharger l'image</button>
                <button><i class="far fa-comment-alt icon"></i> Recharger le texte</button>
                <button><i class="fa fa-download icon"></i> Sauvegarder</button>
            </div>
        </main>

        <footer>
            <% include ./partials/footer %>
        </footer>
    </body>
</html>