/*
blue-truely-light - #d3e0e6;
blue-lighter - #b0d0e0;
blue-light - #177aab;
blue-medium - #115d82
blue-dark - #072735
gold - #f3cd00
transparent-grey - #131f2570
transparent-blue - rgba(23, 122, 171, 0.46);
*/

body { 
    background: #0b3b52;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* -------------------------------------------------------------------------------- */
/* --------------------------- Header --------------------------------------------- */
/* -------------------------------------------------------------------------------- */
header {
    color: inherit;
    border-bottom: 4px dotted #115d82; /*blue-medium*/
    width: 100%;
}

header > h1 {
    color: #d3e0e6; /*blue-truely-light*/
    margin-bottom: 10px;
    margin-left: 30px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 1px;
}

header > p {
    color: #b0d0e0;
    margin-left: 30px;
    font-family: 'Hind Vadodara', sans-serif;
}

/* -------------------------------------------------------------------------------- */
/* --------------------------- Main - --------------------------------------------- */
/* -------------------------------------------------------------------------------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 2 1 auto;
}

main > section.quote-container {
    position: relative;
    /* height: 80vh; */
}

img.image-quote {
    width: 100%;
}

#quote {
    display: none; /* s'affiche quand l'image est chargée */
    background: #131f2570; /* transparent-grey */
    color: #f6fcff;
    padding: 18px 20px;
    position: absolute;
    font-family: 'Hind Vadodara', sans-serif;
    letter-spacing: 1px;
    right: 0%;
    bottom: 15%;
    border-radius: 15px;
    font-size: x-large;
}

.is-visible{
    display: block!important;
}

#quote > span.author {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

main > section.action {
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

main button {
    padding: 10px 25px;
    border-radius: 8px;
    background: none;
    border: 2px solid #d3e0e6; /*blue-truely-light*/
    color: #d3e0e6; /*blue-truely-light*/
}

main button:hover {
    border: 2px solid #f3cd00;
    color: #f3cd00;
}

main button > i.icon {
    margin-right: 5px;
}

main .loader {
    /* min-height: 20px; 
    text-align: center; */
    display: none;
    position: fixed;
    top: 52%;
    left: 45%;
    background: rgba(23, 122, 171, 0.46);;
    padding: 0px 30px;
    border-radius: 18px;
}


/* -------------------------------------------------------------------------------- */
/* --------------------------- Footer --------------------------------------------- */
/* -------------------------------------------------------------------------------- */

footer .footer-text {
    color: #b0d0e0;
    text-align: center;
    padding: 20px 0px;
}